Abg
aiofiles
aiohttp
httpx[http2]
requests
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
dateparser
emoji
feedparser
ffmpeg-python
future
git+https://github.com/python-telegram-bot/ptbcontrib.git ↗
gitpython
markdown2
multicolorcaptcha
pillow
psutil
psycopg2-binary
pyYAML
pyrate-limiter
python-telegram-bot
requests
spamwatch
speedtest-cli
SQLAlchemy
telethon
ujson
pycryptodome
base58
pytimeparse
SibylSystem
TgCrypto
pyrogram
python-arq
python-dotenv
ffmpeg-python
redis
telegraph
motor
pymongo[srv]
odmantic
opencv-python-headless
pykeyboard
wget
wikipedia
bing_image_downloader
lyricsgenius
jikanpy
gtts
search_engine_parser
googletrans
gpytranslate
cloudscraper
carbonnow
pretty_errors
